* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: $clr1;
    color: $white;
}

a,
button {
    color: inherit;
    cursor: pointer;
    text-decoration: unset;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
